<%include ./Partials/navbar.ejs%>

    <div loggedinuser="<%=loggedinUser._id%>" id="explore-main">

        <div class="full-profile-post">

            <i id="profile-cross" class="ri-close-fill"></i>
            <div id="full-profile">
                <div id="left-full">
                    <img src="" alt="">
                </div>
                <div id="right-full">
                    <div class="right-top-profile">
                        <div class="profile-userinfor">
                            <div class="profile"></div>
                            <div data-userid="" class="username-profile">
                                <h4>username</h4>
                            </div>
                        </div>
                        <!-- <i id="menu-icon" class="ri-more-fill"></i> -->
                    </div>
                    <div class="right-middle-profile">
                        <!-- <div class="no-comments">  </div> -->
                        <!-- <div class="commented-userp"> -->
                        <div class="commented-user-profile-p">
                            <img src="" alt="">
                            <!-- </div> -->
                            <div class="commented-user-name-profile">
                                <div class="timediv">
                                    <h3 id="profile-commentedusersid">username</h3>
                                    <h3>comment</h3>
                                </div>
                                <p>createdAt</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-bottom-profile">
                        <div class="bottom-topprofile">
                            <div id="bottom-topprofile-left">
                                <i class="ri-heart-line like-button" data-postId="post_id_here"></i>
                                <i class="ri-chat-3-line comment-icon" data-postId="post_id_here"></i>
                            </div>
                            <i class="ri-bookmark-line save-button" data-postId="post_id_here"></i>
                        </div>
                        <div class="bottom-botmprofile">
                            <h4 class="full-likes-count">likes</h4>
                            <span>date</span>
                            <div class="last-liked-by"></div>
                        </div>
                        <form class="comment-form">
                            <input type="text" class="comment-input" required placeholder="Add comment">
                            <button class="comment-button" type="submit"> Post </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="exlpore-img-conotainer">
            <div class="post">
                <%userposts.forEach((elem)=>{%>
                    <div class="profileposts">
                        <div profilepostid="<%=elem._id%>" class="like-div">
                            <div class="li">
                                <i class="ri-heart-fill"></i>
                                <h1>
                                    <%=elem.likes.length%>
                                </h1>
                            </div>
                            <div class="co">
                                <i class="ri-chat-3-fill"></i>
                                <h1>
                                    <%=elem.comments.length%>
                                </h1>
                            </div>
                        </div>
                        <img src="<%=elem.media%>" alt="">
                    </div>
                    <%})%>

            </div>
        </div>
    </div>

    <!-- Add this script in your HTML or include it in a separate JavaScript file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-storage.js"></script>

    <script>

        let profileUserID;
        let rightFullTop = document.querySelector('.username-profile');

        document.addEventListener("DOMContentLoaded", function () {


            const fullprofilecontainer = document.querySelector('.full-profile-post');
            const fulprofilpostclose = document.querySelector('#profile-cross');
            const likeDivs = document.querySelectorAll('.like-div');


            document.addEventListener("click", (event) => {
                const fullprofile = event.target.closest('.like-div');
                if (fullprofile) {
                    profileUserID = fullprofile.getAttribute('profilepostid');
                    // window.location = `/userprofile/${userID}`;
                    fetchFullPostData(profileUserID);
                    console.log('profile full post User ID:', profileUserID);
                    // alert("heyyy id");
                }
            });




            console.log('Number of .like-div elements:', likeDivs.length);

            likeDivs.forEach((e) => {
                e.addEventListener("click", () => {
                    fullprofilecontainer.style.display = "flex";
                });
            });

            fulprofilpostclose.addEventListener("click", () => {
                console.log('Clicked close');
                fullprofilecontainer.style.display = "none";
            });

            console.log('Attaching event listeners to .like-div elements');


            function fetchFullPostData(profileUserID) {
                // Make an AJAX request to fetch full post data
                $.ajax({
                    type: 'GET',
                    url: `/posts/${profileUserID}/details`,
                    dataType: 'json',
                    success: function (response) {
                        console.log('Full post details:', response);
                        displayFullPost(response);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }

            function displayFullPost(fullPostData) {
                const fullProfileContainer = document.querySelector('.full-profile-post');
                const leftFullImg = fullProfileContainer.querySelector('#left-full img');
                const usernameProfile = fullProfileContainer.querySelector('.username-profile h4');
                const profileImage = fullProfileContainer.querySelector('.commented-user-profile-p img');
                const commentsSection = fullProfileContainer.querySelector('.right-middle-profile');
                const Sectionnocomments = document.querySelector('.no-comments');
                const menuIcon = document.querySelector('#menu-icon');




                // Update the content of the elements with the full post data
                leftFullImg.src = fullPostData.media[0];
                usernameProfile.textContent = fullPostData.userid.username;
                profileImage.src = fullPostData.userid.profileimage;

                // Show the full-profile container
                fullProfileContainer.style.display = "flex";


                // Display likes count and last liked by
                const likesCount = fullProfileContainer.querySelector('.full-likes-count ');
                const lastLikedBy = fullProfileContainer.querySelector('.last-liked-by');

                rightFullTop.setAttribute('data-userid', fullPostData.userid._id);


                likesCount.textContent = `${fullPostData.likes.length} likes`;

                if (fullPostData.likes.length > 0) {
                    const lastLike = fullPostData.likes[fullPostData.likes.length - 1];
                    lastLikedBy.textContent = `Last liked by ${lastLike.username}`;
                }
                // Display date posted
                console.log("  loggedinuser id who posts it  ", fullPostData.userid._id)
                const dateSpan = fullProfileContainer.querySelector('.bottom-botmprofile span');
                const postDate = new Date(fullPostData.createdAt);
                const currentDate = new Date();
                const timeDiff = currentDate - postDate;
                const daysDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

                if (daysDiff === 0) {
                    dateSpan.textContent = 'Today';
                } else if (daysDiff === 1) {
                    dateSpan.textContent = 'Yesterday';
                } else {
                    dateSpan.textContent = `${daysDiff} days ago`;
                }



                // Display comments
                commentsSection.innerHTML = ''; // Clear existing comments

                if (fullPostData.comments.length > 0) {

                    fullPostData.comments.forEach((comment) => {
                        const commentElement = document.createElement('div');
                        commentElement.classList.add('commented-userp');
                        commentElement.innerHTML = `
    <div class="commented-user-profile-p">
        <img src="../images/uploads/${comment.user.profileimage}" alt="User Profile">
    </div>
    <div class="commented-user-name-profile">
        <div class="timediv">
            <h3 id="commentedusersid" commentuserID ="${comment.user._id}">${comment.user.username}</h3>
            <h3>${comment.content}</h3>
        </div>
        <p>${comment.createdAt}</p>
    </div>
`;
                        commentsSection.appendChild(commentElement);
                    });

                }
                else {
                    commentsSection.innerHTML = '<div class="no-comments">No comments yet</div>';
                }

                // Clear the comment input field
                const commentInputf = fullProfileContainer.querySelector('.comment-input');
                commentInputf.value = '';



                // Comment functionality
                const commentForm = fullProfileContainer.querySelector('.comment-form');
                const commentInput = commentForm.querySelector('.comment-input');
                const commentButton = commentForm.querySelector('.comment-button');

                commentForm.addEventListener('submit', (event) => {
                    event.preventDefault();
                    const content = commentInput.value.trim();
                    if (content !== '') {
                        // Send AJAX request to add a new comment
                        $.ajax({
                            type: 'POST',
                            url: `/comments/${profileUserID}`,
                            data: { content },
                            dataType: 'json',
                            success: function (response) {
                                console.log('Comment added:', response);
                                // Refresh the comments section
                                fetchFullPostData(profileUserID);
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        });
                        commentInput.value = '';
                    }
                });

                // Like functionality
                const likeButton = fullProfileContainer.querySelector('.like-button');
                let isLiking = false; // Flag to prevent multiple requests





                likeButton.addEventListener('click', async () => {
                    if (isLiking) {
                        return;
                    }

                    isLiking = true;

                    try {
                        const response = await $.ajax({
                            type: 'POST',
                            url: `/like/${profileUserID}`,
                            dataType: 'json',
                        });

                        console.log('Post liked:', response);
                        likesCount.textContent = `${response.likeCount} likes`;
                        // Handle last liked by, toggle styles, etc.
                    } catch (error) {
                        console.error(error);
                    } finally {
                        isLiking = false;
                    }
                });

                // Save functionality
                const saveButton = fullProfileContainer.querySelector('.save-button');

                saveButton.addEventListener('click', () => {
                    // Send AJAX request to save the post
                    $.ajax({
                        type: 'POST',
                        url: `/save/${profileUserID}`,
                        dataType: 'json',
                        success: function (response) {
                            console.log('Post saved:', response);
                            // Update UI accordingly
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                });



            }


        })



        document.addEventListener("click", (event) => {
            const searchAndprofile = event.target.closest('.username-profile');
            if (searchAndprofile) {
                const userID = searchAndprofile.getAttribute('data-userid');
                loggedinUserId = document.getElementById('explore-main').getAttribute('loggedinuser');

                if (userID === loggedinUserId) {
                    window.location = `/profile`; // Redirect to the logged-in user's profile
                } else {
                    window.location = `/userprofile/${userID}`
                }
                // console.log('User ID:', userID);
                // alert("heyyy id");
            }
        });


        document.addEventListener("click", (event) => {
            const commentElement = event.target.closest('#commentedusersid');
            if (commentElement) {
                const userID = commentElement.getAttribute('commentuserID');
                loggedinUserId = document.getElementById('explore-main').getAttribute('loggedinuser');

                if (userID === loggedinUserId) {
                    window.location = `/profile`; // Redirect to the logged-in user's profile
                } else {
                    window.location = `/userprofile/${userID}`
                }
                // window.location = `/userprofile/${userID}`;
                // console.log('User ID:', userID);
                // alert("heyyy id");
            }
        });



    </script>

    <%include ./Partials/fotter.ejs%>